<h1>Pago en Proceso</h1>
<p>
  Tu pago está siendo procesado, gracias por tu paciencia.
</p>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<div class="form-buttons">
  <%= button_to "Revisar estado de pago", paypal_confirm_order_checkout_path(@order.number), :class => "button primary" %>
</div>
